* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

/*Estilos para el header*/
.header-container {
    width: 100%;
    height: 490px;
    background-image: url(../images/background-small.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-gradiente {
    position: absolute;
    width: 100%;
    height: 490px;
    background: linear-gradient(rgba(38, 38, 38, 0), rgba(38, 38, 38, .9));
}
.header-icon-menu {
    position: absolute;
    right: 0;
    width: 26px;
    height: 20px;
    margin-top: 30px;
    margin-right: 30px;
}
.header-container-text {
    position: absolute;
    margin-top: 280px;
    left: 15%;
}
.header-container-text h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 5rem;
    color: white;
    letter-spacing: 1.5px;
}
.header-container-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}

/*Estilos para main*/
main {
    width: 100%;
    height: auto;
    background-color: #242626;
}

/*Estilos para la primera sección*/
.blog-text {
    display: flex;
    flex-direction: column;
}
.blog-text h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    color: white;
}
.blog-text p:nth-child(2) {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
}
.blog-text p:nth-child(3) {
    font-size: 1.3rem;
    font-weight: 100;
    width: 80%;
    align-self: center;
    margin-top: 30px;
    line-height: 3rem;
    color: white;
}

/*Estilos para la segunda sección*/
.articles-container {
    display: flex;
    flex-direction: column;
}
.articles-container h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    align-self: center;
    margin-top: 50px;
    color: white;
}
.articles-container p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 300;
    align-self: center;
    color: white;
}

.cards-container {
    align-self: center;
}

/*Card 1*/
.articles-card-tunza {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 350px;
    margin-top: 30px;
    align-self: center;
    background-image: url('../images/card-background-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 5px 10px rgba(12, 13, 13, .6) ;
}
.articles-card-tunza div {
    margin-top: 240px;
}
.articles-card-tunza div h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}
.articles-card-tunza div p {
    font-size: 2rem;
    font-weight: 300;
}
/*Card 2*/
.articles-card-timor {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 350px;
    margin-top: 30px;
    align-self: center;
    background-image: url('../images/card-background-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 5px 10px rgba(12, 13, 13, .6) ;
}
.articles-card-timor div {
    margin-top: 240px;
}
.articles-card-timor div h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}
.articles-card-timor div p {
    font-size: 2rem;
    font-weight: 300;
}
/*Card 3*/
.articles-card-lombok {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 350px;
    margin-top: 30px;
    align-self: center;
    background-image: url('../images/card-background-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 5px 10px rgba(12, 13, 13, .6) ;
}
.articles-card-lombok div {
    margin-top: 240px;
}
.articles-card-lombok div h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: white;
}
.articles-card-lombok div p {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

/*Estilos para la tercera sección*/
.subscribe-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.subscribe-container h2 {
    align-self: center;
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    color: white;
}
.subscribe-container p {
    align-self: center;
    font-size: 1.5rem;
    color: white;
}
.subscribe-form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.subscribe-form label {
    align-self: center;
}
.subscribe-form label input {
    width: 270px;
    height: 50px;
    padding-left: 25px;
    background-color: #404040;
    border: 1px solid #808080;
    outline: none;
}
.subscribe-form label input::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}
.subscribe-form button {
    align-self: center;
    width: 270px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 50px;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 8px;
}

/*Estilos para el footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: #404040;
}
footer a {
    color: white;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 15px;
    text-decoration: none;
}